<div class="container">
  <div class="title-container">
    <img src="assets/Pluma.png" alt="Imagen" class="left-image">
    <h1>Add User</h1>
    <img src="assets/Pluma.png" alt="Imagen" class="right-image mirror-horizontal">
  </div>

    <form (ngSubmit) = "onSubmit()" class="form-container">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username"
          required="true" [(ngModel)]="user.username" name="username">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email"
          required="true" [(ngModel)]="user.email" name="email">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" min="0" class="form-control" id="age"
            required="true" [(ngModel)]="user.age" name="age">
        </div>
        <div class="text-center">
            <button type="submit" 
            class="btn btn-primary me-3">Submit</button>
            <a href="/" class="btn btn-primary btn-danger">Go Back</a>
        </div>
      <div *ngIf="errorMessage" class="text-center error-message me-3">
          <p>{{errorMessage}}</p> 
      </div>
    </form>
</div>
